.postList {
    width: 922px;
    height: auto;
    background: #FFFFFF;
    margin: 195px auto 53px auto;
    padding: 0 32px;
    padding-bottom: 90px;
}
.postListWrap{
    height: 1px;
    width: 858px;
    position: absolute;
}
.postListWrap::after {
    content: '';
    width: 184px;
    height: 184px;
    display: inline-block;
    background: url("../../public/img/latern-light-xiao.png");
    background-repeat: no-repeat;
    position: relative;
    top: -200%;
    right: -50%;
    transform: translate(200%,-50%);
}

.postListWrap2{
    height: 1px;
    width: 858px;
    position: absolute;
}

.postListWrap2::after {
    content: '';
    width: 184px;
    height: 184px;
    display: inline-block;
    background: url("../../public/img/latern-light-xiao.png");
    background-repeat: no-repeat;
    position: relative;
    top: -10%;
    left: -15%;
    transform: translateX(15%);
    transform: translateY(-10%);
    /* transform: translate(-30%, 10%); */
}

.postListTittle {
    height: 89px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 56px;
    color: #736A58;
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.postListList{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.postListItem {
    width: 247px;
    height: 139px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 71px;
}
.postListHref{
    width: 247px;
    height: 139px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postListText {   
    width: 100%;
    height: 46px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #736A58;
}

