.mainSect {
    width: 100%;
}

.mainBackImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.mainInfo {
    margin: 0 auto;
    margin-top: 560px;
    width: 922px;
    height: 766px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* !============================================================================= */
.mainBanner {
    width: 584px;
    padding: 0 13px;
    background: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 31px;
}

.mainBannerH {
    width: 100%;
    height: 43px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #736A58;
}

.mainBannerSect {
    width: 263px;
    height: 191px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainBannerText {
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #736A58;
}

/* !===============================================================================================================*/
.mainEvents {
    width: 264px;
    height: 430px;
    background: #FFFFFF;
    padding: 0 15px;
    margin-bottom: 31px;
}

.mainEventsText {
    width: 249px;
    height: 38px;
    font-family: 'Old Standard TT';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #736A58;
}
.mainEventImg{
    margin-bottom: 15px;
}
.mainEventImg:nth-last-of-type(1){
    margin-bottom: 0;
}
/* !===============================================================================================================*/
